        <!--******************************************** START SECTION 6 ****** HOME PAGE / PARTENERS & FRIENDS  ****
            controller > PatenersController.php / template > pateners /route app_pateners --><!-- TODO: taute manque r à parteners -->
        <section class="container-fluid m-0 p-0 mb-5" id="parteners">
            <div class="m-0 p-0">
                <div class="row m-0 p-0">
                    <div class=" mx-0 px-0 z-3 position-relative">
                        <img src="{{ asset('assets/svg/separator-section6.svg')}}" class="separator6 img-fluid" 
                            alt="separation en vague entre les sections" w="" h=""><!-- TODO: -->
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div class="title">
                        <h2 class="title-section text-center z-3">
                            WWF Lombriboutic
                        </h2>
                    </div>
                    <div class="subtitle">
                        <h3 class="subtitle-section text-center py-2">
                            Soutenez-nous en achetant nos produits ou équipez-vous pour aider les vers de terre.
                        </h3>
                    </div>
                </div>
                <div class="container px-5">
                    <div class="row row-cols-8 text-center m-0 px-2 py-5">
                        <div class="col">
                            <a href="https://www.gouvernement.fr/" target="_blank" rel="noopener noreferrer">
                                <img src="{{ asset('assets/images/logo-gouv.jpg') }}" class="logoparteners" alt="Logo du Gouvernement français" width="" height="">
                            </a>
                        </div>
                        <div class="col">
                            <a href="https://www.ofb.gouv.fr/" target="_blank" rel="noopener noreferrer">
                                <img src="{{ asset('assets/images/logo-ofb.jpg') }}" class="logoparteners" alt="Logo de l'Office français de la biodiversité" width="" height="">
                            </a>
                        </div>
                        <div class="col">
                            <a href="https://seashepherd.fr" target="_blank" rel="noopener noreferrer">
                                <img src="{{ asset('assets/images/logo-earthshepherd.jpg') }}" class="logoparteners" alt="Logo de Earth Shepherd association fictive" width="" height="">
                            </a>
                        </div>
                        <div class="col">
                            <a href="https://www.worldwildlife.org/" target="_blank" rel="noopener noreferrer">
                                <img src="{{ asset('assets/images/logo-wwf-official.jpg') }}" class="logoparteners" alt="Logo officiel du World Wildlife Fund" width="" height="">
                            </a>
                        </div>
                        <div class="col">
                            <a href="https://www.mnhn.fr/" target="_blank" rel="noopener noreferrer">
                                <img src="{{ asset('assets/images/logo-museum.jpg') }}" class="logo-parteners" alt="Logo du Muséum national d'Histoire naturelle" width="" height="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--******************************************** END SECTION 6 ****** HOME PAGE / PARTENERS & FRIENDS  ****
