{% extends 'base.html.twig' %}

{% block title %}WWF nous-contacter{% endblock %}

{% block body %}

<div class="container m-0 p-0" id="contactform">
    <div class="row m-0 p-0">
        <div class="col-md-12">
            <div class="title">
                <h2 class="title-section text-center pt-3">
                    Contactez-nous
                </h2>
            </div>
            <div class="subtitle mb-5">
                <h3 class="subtitle-section text-center">
                    Pour plus de renseignements, n'hésitez pas à nous contacter.
                </h3>
            </div>
            <div class="row d-flex justify-content-center">
                {{ form_start(contactForm) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(contactForm.nom) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(contactForm.prenom) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(contactForm.codePostal) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(contactForm.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(contactForm.objet) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(contactForm.message) }}
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary btn-custom btn-orange rounded-5 text-uppercase px-5">Envoyer</button>
                    </div>
                </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
</div>
{# <div class="mx-0 px-0 z-3 position-relative">
    <img src="{{ asset('assets/svg/separator2.svg') }}" class="separator2-2 img-fluid z-2" 
        alt="separation en vague entre les sections">
</div> #}
{% endblock %}
